.container-categoria {
    display: flex;
    justify-content: flex-start; /* Ajuste o alinhamento lateral aqui */
    width: 100%;
}

.categoria {
    width: 200px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 10px; /* Adicionando bordas arredondadas para estilizar a caixa */
    color: #fff; /* Cor do texto dentro da caixa */
    margin: 10px; /* Adicionando margens entre as caixas para melhor visualização */
}

.dados {
    padding: 0em 1em 1em 1em;
}

.titulo {
    padding-top: 0.5em;
    padding-left: 0.5em;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 30%;
}

.border-ontop {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 2px solid rgba(255, 255, 255, 0.08);
}